<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <type name="Elogic\checkout\Block\Onepage">
        <arguments>
            <argument name="layoutProcessors" xsi:type="array">
                <item name="ElogicCheckoutContactLayoutProcessor" xsi:type="object">\Elogic\checkout\Block\layoutProcessor</item>
            </argument>
        </arguments>
    </type>
</config>
