<div>
    <form id="custom-checkout-form" class="form form-shipping-address" name="formName" submit="setShippingInformation" data-bind="attr: {'data-hasrequired': $t('* Required Fields')}" novalidate="novalidate">
        <fieldset class="fieldset">
            <div class="field required">
                <label class="label" data-bind="i18n: 'Custom Checkout Form', attr: { for: element.uid }"></label>
                <div class="control" data-bind="css: {'_with-tooltip': element.tooltip}">
                    <input id="shipping-input" class="input-text" name="inputName" type="text" data-validate="{required:true}" aria-required="true" aria-invalid="false"/>
                </div>
            <!-- ko foreach: getRegion('custom-checkout-form-fields') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
            </div>
        </fieldset>
    </form>
</div>
